.hero button{
    padding:15px 25px;

    border:none;

    background:#2e7d32;

    color:white;

    border-radius:10px;

    cursor:pointer;

    transition:0.5s;
}
.hero button:hover{

    transform:translateY(-8px);

    background:#4caf50;
}

.grid-productos{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:30px;
}

.card{
    background:rgb(36, 75, 31);
    padding:20px;
    border-radius:15px;
    text-align:center;
    color: aliceblue;

    transition:0.5s;
}

.card:hover{
    transform:translateY(-10px);
}

.card button{
    padding:10px 20px;
    border:none;
    background:#e9ffea;
    color:rgb(12, 71, 25);
    border-radius:10px;
    cursor:pointer;
}